@font-face {
 	font-family: 'SAP-icons';
 	src: url('../resources/fonts/SAP-icons.eot');
 	src: url('../resources/fonts/SAP-icons.eot?#iefix') format('embedded-opentype'), url('../resources/fonts/SAP-icons.woff2') format('woff2'), url('../resources/fonts/SAP-icons.woff') format('woff'), url('../resources/fonts/SAP-icons.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }
$color_tuatara_approx: #363636;
$white: #ffffff;
$offwhite1: #F6F6F6;
$offwhite2: #f5f5f5;
$color_alabaster_approx: #ededed;
$color_storm_dust_approx: #636363;
$color_tapa_approx: #363636;
$color_lochmara_approx: #0076cb;
$color_iron_approx: #d7d7d7;
$color_milano_red_approx: #c11616;
$color_carrot_orange_approx: #ed8b1d;
$color_lochmara_70_approx: rgba(0,118,203,0.7);
$color_gunsmoke_approx: #858585;
$color_bahama_blue_approx: #00679e;
$color_silver: 	#C0C0C0;
$material_blue: #0076cb;
.header-row{
	padding: 10px;
	height: 50px;
  background-color: #f7f8fa;
	font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #346187;
}
.footer-row{
	background-color: #f7f8fa;
font-family: inherit;
padding: 10px;
border: solid 1.5px #d7d7d7;
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
text-align: center;
span{
	color:#767676;
}
}
.edit-fields{
	img{
		height: 32px;
		margin-left: 10px;
	}
}
.right-align{
	text-align: right;
}
.list-row{
	border-bottom: solid 1.5px #d7d7d7;
border-top: solid 1.5px #d7d7d7;
	//height: 92px;
	font-family: Arial;
	font-size: 14px;
	padding: 10px;
img{
	height:30px;
	margin-right:10px;
}
}
.user-details{
	border-top: solid 0.5px #d7d7d7;
	border-bottom: solid 5px #d7d7d7;
	background-color: #f7f8fa;

	span{
		font-family: Arial;
	color: #363636;
	}
	.row{
		padding: 10px;
		border-top: solid 1px #d7d7d7;
	}
}
.list-col{
	height: 51px;
}
.list-col > div:first-child{
 font-size: 12px;
 color: #767676;
}
.list-col > div:last-child{
 font-size: 14px;
 color: #363636;
}
/* CSS - Ctool*/
body{
	//background-color: #f2f2f2;
	background-color:#E9F4F9;
}
.logo{
	font-family: Arial;
    color: #346187;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar.navbar-inverse{
	font-family: Arial !important;
 font-size: 14px !important;
  color: #f5f5f5 !important;
 background-color: #B2CBE0 !important;
 border-color: #E9F4F9 !important;
 //box-shadow: 7px 0 20px 0 rgba(84, 84, 84, 0.5), inset 0 2px 8px 0 rgba(0, 0, 0, 0.35);
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color:#E9F4F9 !important;
	background-color: #346187 !important;
}
.navbar-inverse .navbar-nav>li>a{
	color: #346187 !important;
}
.dropdown-menu{
	border: 1px solid #ccc;
font-size: 13px;
background-color: #fff;
zoom: 1;
border-radius: 3px;
font-family: Arial;
width: 100%
}

.section-content{
	    padding: 30px 0 30px 0px;
}



/* Set black background color, white text and some padding */
    footer {
      background-color: #E9F4F9;
			border-top:1px solid #346187;

			position: fixed;
			bottom: 0px;
      padding: 15px;
			width:100%;
			p{
				font-family: Arial;
 font-size: 11px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
  color: #363636;
			}
    }


span.error {
	color: $color_milano_red_approx;
	font-size: 12px;
	width: 100%;
	display: block;
	text-align: right;
}
.controls-container{
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
  margin-top: 10px;
	margin-bottom: 20px;
}
.button-container{
	padding-left: 20px;
}
.list-container{
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	//margin-bottom: 20px;
}
.tabs-container{
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	padding-top: 20px;
  padding-bottom : 20px;
	margin-bottom: 20px;
}

.show-grid{
	margin-top: 10px;
}
.page-heading{
	font-family: Arial;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
letter-spacing: normal;
color: #346187;
}
.rec{
	height: 50px;
  background-color: #f7f8fa;
	margin: -20px -20px 0px -20px;
	padding: 17px 20px 17px 20px;
	span{
		font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #363636;
	}
	.glyphicon{
 		font-family: 'Glyphicons Halflings';
 	}
}
.line{
	 border-bottom: 1px solid #97c2ec;
	 margin-bottom: 10px;
	 color:#346187;
}
.sub-heading{
	margin-top: 1%;
font-size: 14px;
 color:#346187;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	// border: 1px solid #000;
	background: $color_alabaster_approx;
	margin: 0 auto;
}

.form-signin label {
	text-align: left;
}

.text-block {
	display: block;
}

.top-margin {
	margin-top: 10px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.required {
	color: $color_milano_red_approx;
}

.breadcrumb-container {
	background-color: #ffffff !important;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	/* padding: 20px; */
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 20px;
	ul{
		padding: 8px 15px;
    list-style: none;
		background-color: #ffffff !important;
		span{
			  color: #346187;
				margin-left: 5px;
				margin-right: 5px;
		}
	}
}


.data-container {
	margin: 10px auto;
	padding: 10px;
	background: $color_alabaster_approx;
	height: 100%;
}

//SEARCH PAGE CSS
.SearchGrid div {
	// border: 1px solid $color_silver;
	// padding: 5 -10;
}


.checkbox-grp {
	span{
    margin-right: 20px;
	// padding-left: 10px;
}


.search-results {
	display: block;
	margin: 20px 0px;

}

// .btn-login {
// 	margin: 12px 0px !important;
// 	border-radius: 0px !important;
// 	color: $material_blue !important;
// 	button{
// 	       border: solid 1px $material_blue !important;
// 	}

// 	button:hover {
// 		background-color: $material_blue !important;
// 	}

// 	label {
// 		color: $material_blue !important;
// 	}

// 	label:hover {
// 		color: $white !important;
// 	}
//   }

}


.sap-btn {
	width: 100%;
		height: 36px;
      background: $white;
	  border: 1px solid $material_blue;
	  border-radius: 0px !important;
		color: $material_blue;
	}

	.sap-btn:hover {
		background: $material_blue !important;
			color: $white !important;
    }
		.btn-wizard{
			width: 155px;
			height: 36px;
		}

.Account-details-container{
	.detail-content{

		div{
			width: 100% !important;
		}

		.RaisedButton{
			width: 48% !important;
		}
	}
	.rev-sharing-container{
		margin-top: 40px;
	}
}

.bottom-margin{
	margin-bottom: 10px;
}

.bottom-margin-large{
	margin-bottom: 20px;
}

.acc-nav-buttons{
	padding-top: 15px;
}


/*Account Management*/
// .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
//     color: #363636;
//     cursor: default;
//     background-color: #ffffff;
//     border: 1px solid #d7d7d7;
//     border-top: 4px solid #199de0;
//     border-bottom-color: transparent;
// 	}
/* Wizard stepper CSS*/

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.inactive-step  {
      background-color: #e6e6e6;
      cursor: not-allowed;
}
.stepwizard-row:before {
    top: 35px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/* Advanced Search CSS*/
.btn{
    padding: 5px 10px !important;
}

#adv-search-panel{
      margin-bottom: 15px;
        margin-right: -15px;
      input:first-child{
        width: 95% !important;
        border-radius: 0px !important;
      }
  button{
        border-radius: 0px !important;
        border: 1px solid #ccc !important;
  }
  .form-control-static {
    padding-top: 0px  !important;
  }
}


.sap-caret::after {
	font-family: 'SAP-icons';
	content: "\e1e2";
}
.sap-caret {
	font-size: 15px;
}

.sap-search::after {
	font-family: 'SAP-icons';
	content: "\e00d";
}
.sap-search,.sap-clear {
	font-size: 15px;
  margin:5px;
}
.sap-clear::after {
	font-family: 'SAP-icons';
	content: "\e03e";
}
/*menus thumbnail*/
.thumbnail .caption h3 {
	height: 80px;
}
.thumbnail .caption .glyphicon {
	font-size: 20px;
}
.row.dashboard-menu.first{
	margin-top:50px;
}
.dashboard-menu .thumbnail {
	height: 195px;
}
.dashboard-navbar span {
	float: left;
	font-size: 20px;
	img{
		margin-top: 7px;
	}
}
.dashboard-navbar span:nth-child(2) {
	margin-top: 8px;
	margin-left: 10px;
  color: #337ab7;
}
.dashboard-menu .thumbnail .caption .notification-count {
	font-size: 24px;
	margin-bottom: 12px;
}
.thumbnail.notification .caption h3 {
	height: 50px;
}
.thumbnail .caption a:hover {
	text-decoration: none;
	color: #337ab7;
}
.list-group-item:first-child {
    /* border-top-left-radius: 4px; */
    /* border-top-right-radius: 4px; */
}
.list-group-item {
  border:none !important;
	  background-color: transparent !important;
		margin-left: 15px;
		span{
			margin-right: 5px;
      font-size: larger;
		}
}
.list-group > a{
	margin-left: 35px;
  color: #777;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
color:#333 !important;
}
.pagination {
    display: inline-block;
    padding-left: 0;
     margin: 0px;
    float:right;
    border-radius: 4px;
}
.react-bs-table-pagination{
   margin: 0px;
}
.react-bs-table-container .react-bs-table-search-form{
  margin-bottom: 10px;
}
.pagination>li>a, .pagination>li>span {
	border-style: hidden;
}
.btn.btn-default.dropdown-toggle {
	border-style: hidden;
	background-color: inherit;
}
// #pageDropDown::before {
// 	content: "Show ";
// }
// #pageDropDown::after {
// 	content: " records per page";
// }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: white;
	color: #337ab7;
	text-decoration: underline;
	font-weight: bold;
	font-size: 17px;
}
/*bootstrap table*/
.react-bs-container-body{
	// .react-bs-container-header{
	// 	display: none;
	// }
	.react-bs-table-container{
		margin: -10px;
	}
}
.hide-header{
    display: none;

}
.nested-body-class{
	background-color: #dee0f9 !important;
}
.react-bs-table{
			 margin: 0 !important;
	border: 1px solid #ddd;
	 border-radius: 0px !important;
}
.master-body-class{
	background-color: #f7f8fa;
}
.td-column-function-odd-example{
    color: blue;
    background-color: antiquewhite;
}

.td-column-function-even-example{
    color: red;
    background-color: yellowgreen;
}
/* hover edit by sneha */
.edit-icon::after {
	font-family: 'SAP-icons';
	content: "\e038";
}
.edit-icon {
	font-size: 50px;
}
.edit-ok-icon{
  font-size: 18px;
}
.edit-ok-icon::after {
	font-family: 'SAP-icons';
	content: "\e05b";
}
.edit-cancel-icon{
  font-size: 18px;
}
.edit-cancel-icon::after {
	font-family: 'SAP-icons';
	content: "\e03e";
}

// .input-group {
// 	.form-control[disabled], fieldset[disabled] .form-control {
// 		cursor: default;
// 		background-color: inherit;
// 	}
// 	.form-control {
// 		border-right: 0px;
// 	}
// 	.input-group-addon {
// 		background-color: lightgrey ;
// 		height: 34px;
// 		width: 39px;
// 	}
// }

.accounts-icon::after {
	font-family: 'SAP-icons';
	content: "\e001";
}
.accounts-icon {
	font-size: 25px;
	box-sizing: border-box;
}

.connections-icon::after {
	font-family: 'SAP-icons';
	content: "\e119";
}
.connections-icon {
	font-size: 25px;
	box-sizing: border-box;
}

.operators-icon::after {
font-family: 'SAP-icons';
	content: "\e018";
}
.operators-icon {
	font-size: 25px;
	box-sizing: border-box;
}

.misc-icon::after {
	font-family: 'SAP-icons';
	content: "\e1a8";
}
.misc-icon {
	font-size: 25px;
	box-sizing: border-box;
}

.user-icon::after {
	font-family: 'SAP-icons';
	content: "\e0ca";
}
.user-icon {
	font-size: 25px;
	box-sizing: border-box;
}

.toolbox-icon::after {
	font-family: 'SAP-icons';
	content: "\e002";
}
.toolbox-icon {
	font-size: 25px;
	box-sizing: border-box;
}

.empty {
  input{
    border-color: red !important;
  }
	select{
		border-color: red !important;
	}
}

.add-icon::before {
	font-family: 'SAP-icons';
	content: "\e058";
}
.add-icon {
	font-size: 15px;
	box-sizing: border-box;
}
.edit-button-icon::before {
	font-family: 'SAP-icons';
	content: "\e038";
}
.edit-button-icon {
	font-size: 15px;
	box-sizing: border-box;
}
.delete-icon::before {
	font-family: 'SAP-icons';
	content: "\e03d";
}
.delete-icon {
	font-size: 15px;
	box-sizing: border-box;
}
.grp-btn {
      background: $white;
	  border: 1px solid $material_blue;
	  border-radius: 0px !important;
		color: $material_blue;
    span{
          margin-right: 10px;
    }
	}

	.grp-btn:hover {
		background: $material_blue !important;
			color: $white !important;
    }
.error-msg {
  color: red;
  text-align: center;
}
.Select-menu-outer {
  z-index: 999 !important;
}
.nav-down-icon::after {
	font-family: 'SAP-icons';
	content: "\e1e2";
  padding-left: 20px;
  float: right;
}
.nav-down-icon {
	font-size: 10px;
	box-sizing: border-box;
}
.nav-up-icon::after {
	font-family: 'SAP-icons';
	content: "\e1e1";
  padding-left: 20px;
  float: right;
}
.nav-up-icon {
	font-size: 10px;
	box-sizing: border-box;
}
.rec_tab {
  height: 30px;
  border: 1px solid #999;
  padding: 5px 20px 5px 20px;
  background-color: #f5f5f5;
  // margin-bottom: 10px;
	span{
		font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #363636;
	}
}
.well {
    min-height: 20px;
    padding: 0px !important;
    margin-bottom: 20px;
    background-color: transparent !important;
    border: 1px solid #e3e3e3;
     border-radius: 0px !important;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
    box-shadow: none !important;
  }
.iframe_container{

iframe  {
    display: block;
   background: #000;
   border: none;
   height: 100vh;
   width: 100vw;
  }
}

.launchpad-icon::after {
	font-family: 'SAP-icons';
	content: "\e112";
}
.launchpad-icon {
	font-size: 25px;
	box-sizing: border-box;
}
.form-control-static {
  padding-left: 10px;
}
.inline-view-ctrl{
  color:blue;
   white-space: nowrap;
   min-width:40px;
   max-width: 400px;
   overflow: hidden;
  text-overflow: ellipsis;
}
.inline-edit-ctrl{
   white-space: nowrap;
   min-width:40px;
   max-width: 400px;
   overflow: hidden;
  text-overflow: ellipsis;
}
.view-edit-control{
  .control-label{
    font-weight: normal;
    color: blue;
  }
}
.view-edit-control .input-group-addon{
padding:6px !important;
// padding-left:8px !important;
// padding-right:8px !important;
// padding-top:6px !important;
}
.reactivate-icon::after {
	font-family: 'SAP-icons';
	content: "\e010";
}
.suspend-icon::after {
	font-family: 'SAP-icons';
	content: "\e09c";
}
.close-icon::after {
	font-family: 'SAP-icons';
	content: "\e1c7";
}
.reactivate-icon,.suspend-icon,.close-icon {
	font-size: 20px;
  margin:5px;
}
.list-group > .activeStyle {
    color : black;
    font: message-box;
}
.list-group > .activeStyle:hover {
    color : black;
    font: message-box;
}
.info_label {
  border: none;
  cursor: default;
  box-shadow: none;
  pointer-events: none;
}
.hand_pointer{
  cursor: pointer;
}
