$color_tuatara_approx: #363636;
$white: #ffffff;
$offwhite1: #F6F6F6;
$offwhite2: #f5f5f5;
$color_alabaster_approx: #ededed;
$color_storm_dust_approx: #636363;
$color_tapa_approx: #363636;
$color_lochmara_approx: #0076cb;
$color_iron_approx: #d7d7d7;
$color_milano_red_approx: #c11616;
$color_carrot_orange_approx: #ed8b1d;
$color_lochmara_70_approx: rgba(0,118,203,0.7);
$color_gunsmoke_approx: #858585;
$color_bahama_blue_approx: #00679e;
$color_silver: 	#C0C0C0;
$material_blue: #0076cb;
.header-row{
	padding: 10px;
	height: 50px;
  background-color: #f7f8fa;
	font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #363636;
}
.footer-row{
	background-color: #f7f8fa;
font-family: inherit;
padding: 10px;
border: solid 1.5px #d7d7d7;
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
text-align: center;
span{
	color:#767676;
}
}
.edit-fields{
	img{
		height: 32px;
		margin-left: 10px;
	}
}
.list-row{
	border-bottom: solid 1.5px #d7d7d7;
border-top: solid 1.5px #d7d7d7;
	//height: 92px;
	font-family: Arial;
	font-size: 14px;
	padding: 10px;
img{
	height:30px;
	margin-right:10px;
}
}
.user-details{
	border-top: solid 0.5px #d7d7d7;
	border-bottom: solid 5px #d7d7d7;
	background-color: #f7f8fa;

	span{
		font-family: Arial;
	color: #363636;
	}
	.row{
		padding: 10px;
		border-top: solid 1px #d7d7d7;
	}
}
.list-col{
	height: 51px;
}
.list-col > div:first-child{
 font-size: 12px;
 color: #767676;
}
.list-col > div:last-child{
 font-size: 14px;
 color: #363636;
}
/* CSS - Ctool*/
body{
	background-color: #f2f2f2;
}
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar.navbar-inverse{
	font-family: Arial !important;
 font-size: 14px !important;
  color: #f5f5f5 !important;
 background-color: #363636 !important;
 box-shadow: 7px 0 20px 0 rgba(84, 84, 84, 0.5), inset 0 2px 8px 0 rgba(0, 0, 0, 0.35);
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color:#f5f5f5 !important;
}
.navbar-inverse .navbar-nav>li>a{
	color: #969696 !important;
}
.dropdown-menu{
	border: 1px solid #ccc;
font-size: 13px;
background-color: #fff;
zoom: 1;
border-radius: 3px;
font-family: Arial;
}
    /* Set black background color, white text and some padding */
    footer {
      background-color: #ffffff;
			border-top:1px solid #ddd;
      color: #363636;
			position: fixed;
			bottom: 0px;
      padding: 15px;
			width:100%;
			p{
				font-family: Arial;
 font-size: 11px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #969696;
			}
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

    }
.section-content{
	    padding: 30px 0 30px 0px;
}

.underline-h4{
	width: 100%;
	border-bottom: 1px solid $material_blue;
}
.show-grid{
	margin-top: 20px;
}
.sap-form {
	color: $color_tapa_approx;
}

.sap-form .form-control {
	border-radius: 0;
	height: 32px;
}

.sap-form .table {
	width: 100%;
	font-family: ArialMT;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	color: $color_tuatara_approx;
}

.sap-form tr:hover {
	background-color: $offwhite2;
}

.sap-form table > tbody > tr > td {
	vertical-align: middle;
}
.content{
		background-color: #f2f2f2;
}
.content label {
	color: $color_tapa_approx;
	font-family: Arial;
	font-size: 14px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
}

.sap-form input, .sap-form select {
	color: $color_tapa_approx;
}
.login-form{
	//margin-top: 150px;
	font-family: Arial;
 font-size: 16px !important;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #363636;
}
.login-form input {
	color: $color_tapa_approx;
	height: 42px;
	border-radius: 0px !important;
}
.login-form span {
	border-radius: 0px !important;
}
.login-form label{
	font-weight: normal;
	color: $color_tapa_approx;
	font-size: 20px;
}
span.error {
	color: $color_milano_red_approx;
	font-size: 12px;
	width: 100%;
	display: block;
	text-align: right;
}
.controls-container{
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
  margin-top: 10px;
	margin-bottom: 20px;
}

.list-container{
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
	//margin-bottom: 20px;
}

.login-container {
margin-top: 120px;
	text-align: center;
	// .input-group-addon{
	// 	background-color: black;
  //   color: white;
	// }
}
//temp
.success-alert {
  width: 1180px;
  height: 48px;
  background-color: #e5f3e8;
  border: solid 1px rgba(2, 135, 25, 0.5);
	span{
		font-family: Arial;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
	}
}
.login-container button {
	margin-top: 10px;
}

.login-container h2 {
	margin-top: 5px;
}
.page-heading{
	font-family: Arial;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.17;
letter-spacing: normal;
color: #363636;
}
.rec{
	height: 50px;
  background-color: #f7f8fa;
	//margin: -20px -20px 0px -20px;
	padding: 17px 20px 17px 20px;
	span{
		font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #363636;
	}
}
.line{
		height: 1px;
	 border-bottom: solid 1px #d7d7d7;
	 margin-bottom: 15px;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	// border: 1px solid #000;
	background: $color_alabaster_approx;
	margin: 0 auto;
}

.form-signin label {
	text-align: left;
}

.text-block {
	display: block;
}

.top-margin {
	margin-top: 10px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.required {
	color: $color_milano_red_approx;
}

.breadcrumb-container {
	background-color: #ffffff !important;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	/* padding: 20px; */
	margin-top: 10px;
	margin-bottom: 20px;
	ul{
		padding: 8px 15px;
    list-style: none;
		background-color: #ffffff !important;
	}
}

.showTable {
	display: block;
}

.hideTable {
	display: none;
}

.hr-extended {
	width: 100%;
	border-bottom: 1px solid $material_blue;
	margin: 10px 0 20px 0;
}

li > button {
	margin-top: 7px;
}

.other-than-main {
	background: $white;
	min-height: 98vh;
}

.custom-anchor:hover {
	text-decoration: none;
	cursor: pointer;
}

.data-container {
	margin: 10px auto;
	padding: 10px;
	background: $color_alabaster_approx;
	height: 100%;
}

//SEARCH PAGE CSS
.SearchGrid div {
	// border: 1px solid $color_silver;
	// padding: 5 -10;
}

.search-section {
	padding: 0px;
}

.checkbox-grp {
	span{
    margin-right: 20px;
	// padding-left: 10px;
}

.Login-Page {
	min-height: 90vh;
	height: 100vh;
	background: $color_silver;
}

.search-results {
	display: block;
	margin: 20px 0px;
	.react-bs-table{
	       margin: 0;
	}
}

// .btn-login {
// 	margin: 12px 0px !important;
// 	border-radius: 0px !important;
// 	color: $material_blue !important;
// 	button{
// 	       border: solid 1px $material_blue !important;
// 	}

// 	button:hover {
// 		background-color: $material_blue !important;
// 	}

// 	label {
// 		color: $material_blue !important;
// 	}

// 	label:hover {
// 		color: $white !important;
// 	}
//   }

}

.login-button-container{
	div:first-child {
		margin-left: 0px !important;
	}
}

.sap-btn {
	width: 100%;
		height: 36px;
      background: $white;
	  border: 1px solid $material_blue;
	  border-radius: 0px !important;
		color: $material_blue;
	}

	.sap-btn:hover {
		background: $material_blue !important;
			color: $white !important;
    }
		.btn-wizard{
			width: 155px;
			height: 36px;
		}
		// .sap-btn-primary {
		// 	border: solid 1px $material_blue;
		// 	color: $material_blue;
		// 	background: $white;
		// 	min-width: 120px;
		// }
		//
		// .sap-btn-primary:hover {
		// 	background: $material_blue;
		// 	color: $white;
		// }
.Account-details-container{
	.detail-content{

		div{
			width: 100% !important;
		}

		.RaisedButton{
			width: 48% !important;
		}
	}
	.rev-sharing-container{
		margin-top: 40px;
	}
}

.bottom-margin{
	margin-bottom: 10px;
}

.bottom-margin-large{
	margin-bottom: 20px;
}

.acc-nav-buttons{
	padding-top: 15px;
}
