.tabs{
  margin: 30px;
  vertical-align: top;
  display: inline;
}
.links{
  padding: 0px 20px;
}
.tab-link{
  line-height: 30px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}
.tab-link-active{
  color: #363636;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  border-top: 4px solid #199de0;
  border-bottom-color: transparent;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
}
.tab-content-visible{
  display: inline;
}
.content{
  padding: 0 20px
}
.tabs-container{
  border: 1px solid #d7d7d7;
  border-top: 1px solid white;
}
.links_stacked{
  .tab-link {
    cursor: default;
    border: none;
    border-left: 4px solid #199de0;
    // box-shadow: 0 0px 4px 3px rgba(0, 0, 0, 0.2);
    width :100%;
  }
  .tab-link-active{
    background-color: rgba(25, 157, 224, 0.329412);
    box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.2)
  }
}
.inner_grid {
  box-shadow: 0 0px 4px 3px rgba(0, 0, 0, 0.2);
  .info_label {
    border: none;
    cursor: default;
    box-shadow: none;
    pointer-events: none;
  }
}
.show-grid {
  margin : 20px;
}
